{# Criando uma variável e obtendo o nome do fabricante do equipamento #}
{# Fonte: #}
{# https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.napalm_network.html #}
{# https://www.programmersought.com/article/26394641972/ #}
{# https://github.com/saltstack-formulas/napalm-ntp-formula #}

{%- set device_vendor = grains.get('os') -%}

{# Decidindo o comando a ser usado para alterar o nome do equipamento #}

{# para junniper com os junos #}
{%- if device_vendor|lower == 'junos' %}

system {
  host-name {{hostname}}lab;
  replace:
  ntp {
    {%- for server in servers %}
    server {{ server }};
    {%- endfor %}
  }
}

{# para cisco com os ios #}
{%- elif device_vendor|lower == 'ios' %}

hostname {{hostname}}lab

{# no ntp #}
{%- for server in servers %}
ntp server {{ server }}
{%- endfor %}

{# para arista com os eos #}
{%- elif device_vendor|lower == 'eos' %}

hostname {{hostname}}lab

{# no ntp #}
{%- for server in servers %}
ntp server {{ server }} prefer
{%- endfor %}

{%- endif %}
